@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
* {
    padding: 0;
    margin: 0;
}

body {
    background: url(1/images/Hot%20vs%20Cold%202560x14402.jpg.png) center center no-repeat;
    background-size: 100% 100%;
}

.topLogo {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

img {
    opacity: 0.2;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.box {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 382px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    text-align: center;
}

/*nagłówki */

.hpix {
    /* Style for "Register F" */
    width: 191px;
    text-shadow: 1px 2px 2px rgba(43, 1, 0, 0.75);
    color: rgb(255, 255, 255);
    font-family: "Titillium Web";
    font-size: 32px;
    font-weight: 500;
    margin: 25px auto 0;
}

.hsize1 {
    /* Style for "Register F" */
    padding-bottom: 18px;
}

.hsize2 {
    /* Style for "Send email" */
    padding-bottom: 15px;
}

.hsize3 {
    /* Style for "Sign In Form" */
    padding-bottom: 22px;
}

.hsize4 {
    /* Style for "Recover Form" */
    padding-bottom: 20px;
}

.hsize5 {
    /* Style for "Subscribe" */
    padding-bottom: 12px;
    width: 212px;
}

/*tabelki*/

form {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input {
    color: #999;
    height: 39px;
    padding: 0 80px;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    width: 176px;
    margin: 20px 21px 0 23px;
}

input::placeholder {
    font-size: 16px;
}
/*wrappy*/

.wrapper {
    display: flex;
    height: 50px;
}

.wrapper1 {
    display: flex;
    padding: 21px;
}

.next_wrapper {
    display: inline-flex;
    margin-top: -10px;
}

/*paragrafy*/

p {
    /* Style for "I have rea" */
    width: 297px;
    color: rgb(175, 175, 175);
    font-family: "Titillium Web";
    font-size: 17px;
    font-weight: 300;
    padding-top: 19px;
    margin-left: 12px;
}

.signin_p {
    width: 297px;
    height: 17px;
    color: rgb(175, 175, 175);
    font-family: "Titillium Web";
    font-size: 17px;
    font-weight: 300;
}

.box .wrapper1 p {
    width: 109px;
    padding-right: 51px;
}

/*ikonki dla inputów itd*/

input[type="password"] {
    background: url(1/images/glyphicons-203-lock.png) no-repeat 17px, url("1/images/shape-5-copy.png") no-repeat 58px;
    color: rgb(0, 0, 0);
}

input[type="text"] {
    background: url(1/images/glyphicons-003-user.png) no-repeat 17px, url("1/images/shape-5-copy.png") no-repeat 58px;
    color: rgb(0, 0, 0);
}

input[type="email"] {
    background: url(1/images/glyphicons-010-envelope.png) no-repeat 17px, url("1/images/shape-5-copy.png") no-repeat 58px;
    color: rgb(0, 0, 0);
}

input[type="tel"] {
    background: url(1/images/glyphicons-139-phone.png) no-repeat 22px, url("1/images/shape-5-copy.png") no-repeat 58px;
    color: rgb(0, 0, 0);
}

select {
    width: 338px;
    color: rgb(153, 153, 153);
    height: 39px;
    padding: 0 0 0 80px;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    margin: 20px 21px 0 23px;
    background: url(1/images/glyphicons-242-google-maps.png) no-repeat 22px, url("1/images/shape-5-copy.png") no-repeat 58px;
}

/*przyciski*/

#checkBox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    margin: 3px;
    padding: 1px;
    margin-top: 19px;
}

#checkBox:checked {
    background: url(1/images/shape-10.png) no-repeat center;
}

#checkBox1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    margin: 3px;
    padding: 1px;
    margin-top: 19px;
}

#checkBox1:checked {
    background: url(1/images/shape-10.png) no-repeat center;
}

#checkBox2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    margin: 3px;
    padding: 1px;
    margin-top: 19px;
}

#checkBox2:checked {
    background: url(1/images/shape-10.png) no-repeat center;
}

.register_button {
    /* Style for "Shape 12" */
    width: 339px;
    height: 48px;
    box-shadow: 1px 1px 0 rgb(255, 255, 255), inset 1px 1px 1px rgba(255, 255, 255, 0.41);
    border: 1px solid rgb(59, 154, 0);
    background-color: rgb(147, 208, 43);
    border-radius: 5px;
    margin: 0 20px 18px 23px;
}

.signin_button {
    /* Style for "Shape 14" */
    display: flex;
    justify-content: center;
    width: 139px;
    height: 41px;
    box-shadow: 1px 1px 0 rgb(255, 255, 255), inset 1px 1px 1px rgba(255, 255, 255, 0.41);
    border: 1px solid rgb(59, 154, 0);
    border-radius: 5px;
    background-color: rgb(147, 208, 43);
}

.sign {
    /* Style for "Sign up" */
    width: 75px;
    height: 23px;
    text-shadow: 1px 1px 0 rgb(81, 133, 14);
    color: rgb(255, 255, 255);
    font-family: "TitilliumText22L-Medium";
    font-size: 24px;
    font-weight: 500;
}

/*hovery*/

.btn:hover {
    background-color: rgb(188, 219, 151);
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

.btn1:hover {
    background-color: rgb(246, 99, 115);
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

/*recover form */

.wrapper2 {
    display: flex;
    padding: 21px 0 27px 0;
}

.sendbutton {
    width: 149px;
    height: 41px;
    box-shadow: 1px 1px 0 rgb(255, 255, 255), inset 1px 1px 1px rgba(255, 255, 255, 0.41);
    border: 1px solid #3b9a00;
    border-radius: 5px;
    background-color: #93d02b;
    margin-right: 43px;
}

.donebutton {
    width: 149px;
    height: 41px;
    box-shadow: 1px 1px 0 rgb(255, 255, 255), inset 1px 1px 1px rgba(255, 255, 255, 0.41);
    border: 1px solid #3b9a00;
    border-radius: 5px;
    background-color: #93d02b;
}

.rb {
    width: 37px;
    height: 13px;
    text-shadow: 1px 1px 0 #51850e;
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 500;
}

/*email form*/

textarea {
    height: 337px;
    color: rgb(0, 0, 0);
    min-height: 100px;
    min-width: 200px;
    max-height: 500px;
    margin: 20px 23px 0 20px;
    padding: 14px 20px 0 15px;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.wrapper3 {
    padding: 0 39px 27px 42px;
}

.anotherway {
    display: inline-flex;
    padding-bottom: 14px;
}

.anotherway p {
    display: inline-flex;
    justify-content: flex-start;
}

.email_button {
    width: 339px;
    height: 48px;
    box-shadow: 1px 1px 0 #ffffff, inset 1px 1px 1px rgba(255, 255, 255, 0.41);
    border: 1px solid #3b9a00;
    border-radius: 5px;
    background-color: #93d02b;
}

/*sub form*/

.sb {
    width: 149px;
    height: 41px;
    box-shadow: 1px 1px 0 #ffffff, inset 1px 1px 1px rgba(255, 255, 255, 0.41);
    border: 1px solid #3b9a00;
    border-radius: 5px;
    background-color: #93d02b;
    margin: 26px 0 20px 0;
}

.sb1 {
    width: 149px;
    height: 41px;
    box-shadow: 1px 1px 0 #ffffff, inset 1px 1px 1px rgba(255, 255, 255, 0.41);
    border: 1px solid #a2202a;
    border-radius: 5px;
    background-color: #f4495b;
    margin: 26px 0 20px 43px;
}

.sub_span {
    /* Style for "No, Thanks" */
    width: 84px;
    height: 16px;
    text-shadow: 1px 1px 0 #51850e;
    color: #ffffff;
    font-family: "Titillium Text 22 L";
    font-size: 18px;
    font-weight: 500;
}

.logoDown {
    padding-top: 59px;
}
